.about-container{
  margin: 4rem 6rem;
  text-align: start;
}
.Text{
  font-size: 50px;
  font-weight: 600;
  color:  white;
}
.Text2{
  font-size: 30px;
  font-weight: 600;
  color:  orange;
}
.aboutBox1{
  margin-top: 20px;
}
.about-container h1{
  color: #152262;
  font-weight: 600;
}
.aboutpageHeader {
  position: relative;
  display: flex;
  flex-direction: row;
  background-image: url("../images/about2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px; 
}
.aboutpageHeader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* adjust the opacity value to your liking */
}

.about-container h1 {
  padding-bottom: 1rem;

}

.about-container p{
  padding-bottom: 1rem;
}

@media screen and (max-width: 850px){
  .about-container{
      margin: 4rem 2rem;
  }
  
}