.servicesContainer {
    background-color: rgba(242, 240, 240, 0.734);
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    
}
.serviceCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 95%;
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    overflow-y: auto; /* Add this line */
    max-height: 800px; /* Set a maximum height for the container */
  }

.introContainer {
    background-color: hsl(0, 100%, 100%);
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px;
    padding-left: 30px;
    width: fit-content;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    text-align: center;
    align-items: center;
    color: black;
}

.serviceCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 95%;
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    
}

.serviceCards > div {
    background-color: #fff;
    /* border: 1px solid #ccc; */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Needed for pseudo-elements */
    background-color: white;
    color: rgb(48, 48, 106);
    font-weight: 700;
}

.serviceCards > div:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.serviceCards > div::before,
.serviceCards > div::after {
    content: "";
    position: absolute;
    width: 5px; 
}

.serviceCards > div::before {
    left: 0;
    bottom: 0;
    height: 60%; /* Bottom half of left border */
    background-color: #979595;
}

.serviceCards > div::after {
    right: 0;
    bottom: 0;
    height: 60%; /* Bottom half of right border */
    background-color: #979595;
}

.serviceCards > div::after {
    right: 0;
    bottom: 0;
    height: 5px; 
    width: 100%; /* Bottom border */
    background-color: #979595;
    position: absolute;
}

.serviceCard1, .serviceCard2, .serviceCard3, .serviceCard4,
.serviceCard5, .serviceCard6, .serviceCard7, .serviceCard8,
.serviceCard9, .serviceCard10, .serviceCard11, .serviceCard12,
.serviceCard13, .serviceCard14, .serviceCard15, .serviceCard16 {
    height: 350px;
    align-items: center;
    justify-content: center;
    background-color: #FFA500;
}

.BuildingConstruction {
    height: 60px;
    width: 60px;
}

.title {
    font-weight: bold;
}

@media screen and (max-width: 1228px) {
    .serviceCards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
        align-items: center;
        
    }

    
    .serviceCard1, .serviceCard2, .serviceCard3, .serviceCard4,
    .serviceCard5, .serviceCard6, .serviceCard7, .serviceCard8,
    .serviceCard9, .serviceCard10, .serviceCard11, .serviceCard12,
    .serviceCard13, .serviceCard14, .serviceCard15, .serviceCard16 {
        height: 500px;
        align-items: center;
        justify-content: center;
        background-color: #FFA500;
    }

    .title {
        line-height: 1%;
    }
}




@media screen and (max-width: 1200px) {
    .serviceCards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
        align-items: center;
        
    }

    
    .serviceCard1, .serviceCard2, .serviceCard3, .serviceCard4,
    .serviceCard5, .serviceCard6, .serviceCard7, .serviceCard8,
    .serviceCard9, .serviceCard10, .serviceCard11, .serviceCard12,
    .serviceCard13, .serviceCard14, .serviceCard15, .serviceCard16 {
        height: 500px;
        align-items: center;
        justify-content: center;
        background-color: #FFA500;
    }

    .title {
        line-height: 1%;
    }
}


@media screen and (max-width: 1024px) {
    .serviceCards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
        align-items: center;
        
    }

    
    .serviceCard1, .serviceCard2, .serviceCard3, .serviceCard4,
    .serviceCard5, .serviceCard6, .serviceCard7, .serviceCard8,
    .serviceCard9, .serviceCard10, .serviceCard11, .serviceCard12,
    .serviceCard13, .serviceCard14, .serviceCard15, .serviceCard16 {
        height: 500px;
        align-items: center;
        justify-content: center;
        background-color: #FFA500;
    }

    .title {
        line-height: 1%;
    }
}

@media screen and (max-width: 1050px) {
    .serviceCards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
        align-items: center;
        
    }
}

@media screen and (max-width: 1000px) {
    .serviceCards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
        align-items: center;
        
    }

    
    .serviceCard1, .serviceCard2, .serviceCard3, .serviceCard4,
    .serviceCard5, .serviceCard6, .serviceCard7, .serviceCard8,
    .serviceCard9, .serviceCard10, .serviceCard11, .serviceCard12,
    .serviceCard13, .serviceCard14, .serviceCard15, .serviceCard16 {
        height: 450px;
        align-items: center;
        justify-content: center;
        background-color: #FFA500;
    }
}

@media screen and (max-width: 900px) {
    .serviceCards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
        align-items: center;
        
    }

    
    .serviceCard1, .serviceCard2, .serviceCard3, .serviceCard4,
    .serviceCard5, .serviceCard6, .serviceCard7, .serviceCard8,
    .serviceCard9, .serviceCard10, .serviceCard11, .serviceCard12,
    .serviceCard13, .serviceCard14, .serviceCard15, .serviceCard16 {
        height: 450px;
        align-items: center;
        justify-content: center;
        background-color: #FFA500;
    }

    .title {
        line-height: 1%;
    }
}

@media screen and (max-width: 800px) {
    .serviceCards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
        align-items: center;
        
    }

    
    .serviceCard1, .serviceCard2, .serviceCard3, .serviceCard4,
    .serviceCard5, .serviceCard6, .serviceCard7, .serviceCard8,
    .serviceCard9, .serviceCard10, .serviceCard11, .serviceCard12,
    .serviceCard13, .serviceCard14, .serviceCard15, .serviceCard16 {
        height: 500px;
        align-items: center;
        justify-content: center;
        background-color: #FFA500;
    }

    .serviceCards > div:hover {
        transform: scale(1.02);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: 700px) {
    .serviceCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
        align-items: center;
        
    }

    
    .serviceCard1, .serviceCard2, .serviceCard3, .serviceCard4,
    .serviceCard5, .serviceCard6, .serviceCard7, .serviceCard8,
    .serviceCard9, .serviceCard10, .serviceCard11, .serviceCard12,
    .serviceCard13, .serviceCard14, .serviceCard15, .serviceCard16 {
        height: 450px;
        align-items: center;
        justify-content: center;
        background-color: #FFA500;
    }
}
@media screen and (max-width: 500px) {
    .serviceCards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
        align-items: center;
        
    }

    
    .serviceCard1, .serviceCard2, .serviceCard3, .serviceCard4,
    .serviceCard5, .serviceCard6, .serviceCard7, .serviceCard8,
    .serviceCard9, .serviceCard10, .serviceCard11, .serviceCard12,
    .serviceCard13, .serviceCard14, .serviceCard15, .serviceCard16 {
        height: 320px;
        align-items: center;
        justify-content: center;
        background-color: #FFA500;
    }
}

@media screen and (max-width: 400px) {
    .serviceCards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
        align-items: center;
        
    }

    
    .serviceCard1, .serviceCard2, .serviceCard3, .serviceCard4,
    .serviceCard5, .serviceCard6, .serviceCard7, .serviceCard8,
    .serviceCard9, .serviceCard10, .serviceCard11, .serviceCard12,
    .serviceCard13, .serviceCard14, .serviceCard15, .serviceCard16 {
        height: 350px;
        align-items: center;
        justify-content: center;
        background-color: #FFA500;
    }
}