.footer{
    background-color: rgb(16, 68, 68);
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: -10px;
}
body {
    overflow-y: auto;
  }