* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body{
  padding-top: 60px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover {
  color: orange;
}

/* HEADER */

nav {
 
  padding: 0 2rem;
  background-color: rgb(236, 232, 227);
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
 
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}


.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  
}
.logo{
  margin-bottom: 10px;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  margin-top: 7px;
}

.navbar .toggle_btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: orange;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: black;
}

.action_btn:active {
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 295px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}


/* RESPONSIVE DESIGN */

@media(max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media(max-width: 567px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

}